<footer class="footer-wrap">
	<div class="footer-social">
		{{>social_icons_default}}
		{{>social_icons}}
	</div>
	<div class="footer-copyright">
		{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="https://reefgrows.com">{{reef grow tachnology, inc.}}</a>. {{t "All Right Reserved"}}.
		<br>
	</div>
</footer>