<div class="pagination-wrap" role="navigation">
	{{#if prev}}
	<a href="{{page_url prev}}">{{>icons/site/arrow_left}}</a>
	{{/if}}
	{{#if next}}
	<a href="{{page_url next}}">{{>icons/site/arrow_right}}</a>
	{{/if}}
</div>