{{!< default}}
<div class="top-wrap">
	<section class="title-wrap">
		<div class="top-social">
			{{>social_icons_default}}
			{{>social_icons}}
		</div>
		<div class="no-featured bg-top{{#if @site.cover_image}} is-cover" style="background-image: url({{@site.cover_image}}){{/if}}">
			{{#if @site.description}}
			<h1 class="title">{{@site.description}}</h1>
			{{/if}}
			<h2 class="description">{{>description}}</h2>
		</div>
		<div class="vertical text-posts">
			<div class="text rotate">
				{{t "Articles"}}
			</div>
		</div>
	</section>
</div>
{{>loop}}
{{pagination}}