{{!< default}}
{{#post}}
<div class="post-wrap{{#if feature_image}} is-image{{else}} no-image{{/if}}">
	<div class="top-wrap">
		<section class="title-wrap">
			<div class="top-social">
				{{>social_icons_default}}
				{{>social_icons}}
			</div>
			<div class="bg-top">
				<h1 class="title">{{{title}}}</h1>
			</div>
			{{#if feature_image}}
			<div class="featured-post-image" style="background-image: url({{feature_image}})"></div>
			{{/if}}
		</section>
	</div>
	<div class="post-content">
		{{content}}
	</div>
	{{/post}}
</div>